/*------------------------------------*/
/* */
/*------------------------------------*/

/*------------------------------------*/
/*Fonts to be used
font-family: 'Lato', sans-serif;
font-family: 'Noto Serif SC', serif;*/
@font-face {
     font-family: "helvetica";
     src: url("../Fonts/HelveticaNeueBold.ttf") format("ttf");
     src: url("../Fonts/HelveticaNeueLight.ttf") format("ttf");
     src: url("../Fonts/HelveticaNeueCondensedBlack.ttf") format("ttf");
}
/*------------------------------------*/

/*------------------------------------*/
/*Easy to use flex containers & borders */
/*------------------------------------*/
.flex-container-column {
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.flex-container-column-in-post {
     display: flex;
     flex-direction: column;
     padding: 1rem;
}

.flex-container-space-around {
     display: flex;
     
     justify-content: space-around;
}
.flex-container-space-btwn {
     display: flex;
     
     justify-content: space-between;
}

.flex-container-center {
     display: flex;
     /* border: 1px solid rgb(26, 201, 198); */
     justify-content: center;
}
.border {
     border: 6px solid rgb(26, 201, 198);
}
/*------------------------------------*/

/* Universal selector for basic reset. */
*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
     /* border: 1px solid rgb(26, 201, 198); */

}
/*------------------------------------*/
/* HTML selector for rem utilizatio/unit conversion*/
/*------------------------------------*/
html {
     height: 100%;
     font-size: 62.5%; /* equivalent to 10px */
}
/*------------------------------------*/
/* Body selector */
/*------------------------------------*/
body {
     background-color: #FFDC6F;
     font-family: "helvetica", sans-serif;
     box-sizing: border-box;
     /* border: 1px solid rgb(26, 201, 198); */
}
/*------------------------------------*/
/* Sign in page selectors*/
/*------------------------------------*/
#sign-in-page {
     background-color: #282E35;
     height: 100vh;
     /* display: none;   this property will be temporary set to none */
}

     #logo-container {
          position: relative;
          padding-top: 25rem;
          padding-right: 9rem; 
     }
          .burst-logo {
               width: 50rem;
          }

     #sign-input-container {

     }
          .sign-in-input {
               border: 3px solid #707070;
               display: block;
               margin: 1rem;
               padding: 4px;
               width: 30rem;
               height: 2.5rem;
          }
          .sign-button {
               
               border-radius: 10rem;
               margin: 1rem;
               padding: 4px;
               width: 5rem;
               height: 5rem;
          }
          .up {
               border: 4px solid #FFDC6F;
          }
          .in{
               border: 4px solid #4C96E9;
          }


/*------------------------------------*/
/*Bellow this comment are the Burst Home Page Selectors*/
/*------------------------------------*/
#burst-home-page {
     /* display: none; */
}
     .header-container {
          background-color: #282E35;
          box-shadow: 0px -1px 5px 5px #4F4F4F;
     }
     /* The selectors bellow this comment are inside the header container tag */
          .logo-container-2 {
               display: inline-block;
               display: flex;
               flex-direction: column;
               justify-content: center;
          }

               .burst-logo-2 {
                    display: inline-block;
                    width: 10rem;
                    
               }

          .user-container {
               left: 20%;
               position: relative;
               display: inline-block;
               display: flex;
               flex-direction: column;
               justify-content: center; 
          }


          .user {
               color: white;
               font-size: 1.6rem;
          }

          .out {
               border: 4px solid rgb(233, 76, 76);
          }
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
.feed {
     margin-top: 5rem;
     /* background-color: beige; */
     width: 100rem;
}

     .title-container {
          background-color: rgba(227, 226, 226, 0.866);
          border: .3rem solid #282E35;
          border-radius: 1rem;
          padding: 1rem;
          box-shadow: 0px -1px 20px 0px #4F4F4F;
     }


     .title-header {
          font-size: 6rem;
          font-weight: 500;
          color: #282E35;
     }

     #burst-btn-container {
          display:none;
     }

          .burst-button2 {
               background-color: white;
               position: relative;
               left: 10rem;
               border: .3rem solid #282E35;
               border-radius: 10rem;
               /* padding: 4px; */
               width: 5rem;
               height: 5rem;
               
          }


/* Bellow this comment is the call to action that should appear only when a user is new */
#call-to-action {
     /* display: none; */
}
     .action-container {
          margin-top: 20rem;
     }

          .call-to-action-text {
               font-size: 5rem;
               
          }

               .burst-button {
                    font-size: 2rem;
                    border: .8rem solid #282E35;
                    margin-top: 1rem;
                    border-radius: 10rem;
                    /* padding: 4px; */
                    width: 10rem;
                    height: 10rem;
                    background-color: white;
                    box-shadow: 0px -1px 20px 0px #4F4F4F;
               }
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* Burst posts section */
#burst-section {
     background-color: rgba(227, 226, 226, 0.866);
     border: .3rem solid #282E35;
     border-radius: 1rem;
     padding: 1rem;
     box-shadow: 0px -1px 20px 0px #4F4F4F;
     margin-top: 3rem;
     display: none;
}

     .post-container {
          padding: 2rem;
          display: flex;
     }
     
          .img-in-post {
               border-radius: 1rem;
               width: 40rem;
               height: 25rem;
          }

          .title-post-container {
               display: flex;
          }

          .post-title, .post-location {
               font-size: 2rem;
               padding: 1rem;
               /* border: 1px solid black; */
          }

          .post-comment {
               padding: 1rem;
               font-size: 1.4rem;
          }

     

/* -------------------------------------------------------------------------------------------- */

/* Bellow this comment are the Burst Page selectors */
#feed-page {
     /* display: none; */
}

#burst-page {
     display: none;
}

     .burst-image-container {
          margin-top: 10rem;
     }
          .burst-image {
               width: 60rem;
               height: 40rem;
               box-shadow: 0px -1px 5px 2px #4F4F4F;
          }

          .burst-opinion {
               margin-top: 1rem;
          }

          .input-item {
               border-radius:  .5rem;
               margin-top: .5rem;
               padding: .5rem;
               resize: none;
               box-shadow: 0px -1px 5px 0px #4F4F4F;
               border-style: solid;
               border-color: gray;
          }

          .post-btn {
               margin-top: 1rem;
               border-radius: 10rem;
               /* padding: 4px; */
               width: 5rem;
               height: 5rem;
               box-shadow: 0px -1px 5px 0px #4F4F4F;
          }