/*------------------------------------*/
/* */
/*------------------------------------*/

/*------------------------------------*/
/*Fonts to be used
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Sarabun', sans-serif; */
/*------------------------------------*/

/*------------------------------------*/
/*Easy to use flex containers & borders */
/*------------------------------------*/
.flex-container-column {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.flex-container-space-around {
     display: flex;
     
     justify-content: space-around;
}
.flex-container-space-btwn {
     display: flex;
     
     justify-content: space-between;
}

.flex-container-center {
     display: flex;
     /* border: 1px solid rgb(26, 201, 198); */
     justify-content: center;
}
.border {
     /* border: 1px solid rgb(26, 201, 198); */
}
/*------------------------------------*/

/* Universal selector for basic reset. */
*,
*::after,
*::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
}
/*------------------------------------*/
/* HTML selector for rem utilizatio/unit conversion*/
/*------------------------------------*/
html {
     font-size: 62.5%; /* equivalent to 10px */
}
/*------------------------------------*/
/* Body selector */
/*------------------------------------*/
body {
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
     /* border: 1px solid rgb(26, 201, 198); */
}
/*------------------------------------*/
/* Sign in page selectors*/
/*------------------------------------*/
#sign-in-page {
     background-color: #282E35;
     height: 100vh;
     display: inherit;   /* this property will be temporary set to none */
}

     #logo-container {
          position: relative;
          padding-top: 25rem;
          padding-right: 9rem; 
     }
          .burst-logo {
               width: 50rem;
          }

     #sign-input-container {

     }
          .sign-in-input {
               border: 3px solid #707070;
               display: block;
               margin: 1rem;
               padding: 4px;
               width: 30rem;
               height: 2.5rem;
          }
          .sign-button {
               
               border-radius: 10rem;
               margin: 1rem;
               padding: 4px;
               width: 5rem;
               height: 5rem;
          }
          .up {
               border: 4px solid #FFDC6F;
          }
          .in{
               border: 4px solid #4C96E9;
          }


/*------------------------------------*/
/*Bellow this comment are the Home Page Selectors*/
/*------------------------------------*/
.header-container {
     background-color: #282E35
}

.logo-container-2 {
     display: inline-block;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

     .burst-logo-2 {
          display: inline-block;
          width: 10rem;
          
     }

.user-container {
     left: 20%;
     position: relative;
     display: inline-block;
     display: flex;
     flex-direction: column;
     justify-content: center;
}


     .user {
          color: white;
          
     }

     .out {
          border: 4px solid rgb(233, 76, 76);
     }

/*------------------------------------*/
/*Home Page Burst feed selectors*/
/*------------------------------------*/
#burst-home-page {
     display:none;
}
.section-container {
     margin-top: 2rem;
     width: 70rem;
}

.burst-style {
     
}

.burst-button-container {
     display: inline-block;
}

.call-to-action-text {
     
}

.burst-button {
     border-radius: 10rem;
     /* padding: 4px; */
     width: 5rem;
     height: 5rem;
}

.initial-box {
     margin-top: 30rem;
}

.call-to-action-text {
     font-size: 3rem;
}    

.burst-feed{
     font-weight: 100;
     font-size: 4rem;
     border-bottom: .1rem solid#282E35;
}

.call-to-action-container {
     padding: 1rem;
     /* border: .2rem solid #FFDC6F;
     border-radius: 1rem; */
}